In [1]:
import numpy as np
import pandas as pd
import sklearn
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.neighbors import NearestNeighbors
from sklearn.preprocessing import MinMaxScaler

In [2]:
ratings = pd.read_csv('ml-latest/ratings.csv')
print(ratings.head())
  
movies = pd.read_csv("movies_FINAL.csv")
print(movies.head())
  
n_ratings = len(ratings)
n_movies = len(ratings['movieId'].unique())
n_users = len(ratings['userId'].unique())

   userId  movieId  rating   timestamp
0       1      307     3.5  1256677221
1       1      481     3.5  1256677456
2       1     1091     1.5  1256677471
3       1     1257     4.5  1256677460
4       1     1449     4.5  1256677264
   movieId                        title  year    rating  Western  Film-Noir  \
0        1                    Toy Story  1995  3.886649        0          0
1        2                      Jumanji  1995  3.246583        0          0
2        3             Grumpier Old Men  1995  3.173981        0          0
3        4            Waiting to Exhale  1995  2.874540        0          0
4        5  Father of the Bride Part II  1995  3.077291        0          0

   IMAX  Musical  Sci-Fi  Adventure  ...  Action  War  Mystery  Animation  \
0     0        0       0          1  ...       0    0        0          1
1     0        0       0          1  ...       0    0        0          0
2     0        0       0          0  ...       0    0        0          0
3     0        0       0          0  ...       0    0        0          0
4     0        0       0          0  ...       0    0        0          0

   Comedy  Crime  Fantasy  Drama  Horror  Thriller
0       1      0        1      0       0         0
1       0      0        1      0       0         0
2       1      0        0      0       0         0
3       1      0        0      1       0         0
4       1      0        0      0       0         0

[5 rows x 23 columns]

In [3]:
movies.head()

,movieId,title,year,rating,Western,Film-Noir,IMAX,Musical,Sci-Fi,Adventure,...,Action,War,Mystery,Animation,Comedy,Crime,Fantasy,Drama,Horror,Thriller
0,1,Toy Story,1995,3.886649,0,0,0,0,0,1,...,0,0,0,1,1,0,1,0,0,0
1,2,Jumanji,1995,3.246583,0,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
2,3,Grumpier Old Men,1995,3.173981,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,4,Waiting to Exhale,1995,2.874540,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
4,5,Father of the Bride Part II,1995,3.077291,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [4]:
df_ratings = ratings.rename(columns={"rating": "popularity"})
df_ratings = df_ratings[['movieId','popularity']].groupby(['movieId']).count()
#movies = pd.merge(movies,df_ratings,on='movieId',how='left')

In [5]:
scaler = MinMaxScaler()
df_ratings[['popularity']] = scaler.fit_transform(df_ratings[['popularity']])
df_ratings

         popularity
movieId
1          0.698667
2          0.276965
3          0.159024
4          0.030490
5          0.157891
...             ...
193876     0.000000
193878     0.000000
193880     0.000000
193882     0.000000
193886     0.000010

[53889 rows x 1 columns]

In [6]:
movies = pd.merge(movies,df_ratings,on='movieId',how='left')
movies

,movieId,title,year,rating,Western,Film-Noir,IMAX,Musical,Sci-Fi,Adventure,...,War,Mystery,Animation,Comedy,Crime,Fantasy,Drama,Horror,Thriller,popularity
0,1,Toy Story,1995,3.886649,0,0,0,0,0,1,...,0,0,1,1,0,1,0,0,0,0.698667
1,2,Jumanji,1995,3.246583,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0.276965
2,3,Grumpier Old Men,1995,3.173981,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0.159024
3,4,Waiting to Exhale,1995,2.874540,0,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,0.030490
4,5,Father of the Bride Part II,1995,3.077291,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0.157891
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58093,193876,The Great Glinka,1946,3.000000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
58094,193878,Les tribulations d'une caissiÃ¨re,2011,2.000000,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0.000000
58095,193880,Her Name Was Mumu,2016,2.000000,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0.000000
58096,193882,Flora,2017,2.000000,0,0,0,0,1,1,...,0,0,0,0,0,0,1,1,0,0.000000
58097,193886,Leal,2018,3.250000,0,0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,0.000010

In [7]:
genome_scores = pd.read_csv('ml-latest/genome-scores.csv')

In [8]:
genome_tags = pd.read_csv('ml-latest/genome-tags.csv')

In [9]:
genome_sc = genome_scores[genome_scores.relevance >= 0.05]

In [10]:
df_gen = genome_sc.rename(columns={"relevance": "tag_popularity"})
df_gen = df_gen[['tagId','tag_popularity']].groupby(['tagId']).count()
df_gen[['tag_popularity']] = scaler.fit_transform(df_gen[['tag_popularity']])

In [11]:
genome_scores = pd.merge(genome_scores,df_gen,on='tagId',how='left')
genome_scores

          movieId  tagId  relevance  tag_popularity
0               1      1    0.02900        0.151628
1               1      2    0.02375        0.171612
2               1      3    0.05425        0.427199
3               1      4    0.06875        0.519869
4               1      5    0.16000        0.697048
...           ...    ...        ...             ...
14862523   187595   1124    0.10700        0.593624
14862524   187595   1125    0.05850        0.118908
14862525   187595   1126    0.03800        0.097780
14862526   187595   1127    0.10225        0.999237
14862527   187595   1128    0.02925        0.041034

[14862528 rows x 4 columns]

In [12]:
genome_scores['score'] = genome_scores.apply(lambda x: x.relevance * x.tag_popularity, axis=1)
genome_scores

          movieId  tagId  relevance  tag_popularity     score
0               1      1    0.02900        0.151628  0.004397
1               1      2    0.02375        0.171612  0.004076
2               1      3    0.05425        0.427199  0.023176
3               1      4    0.06875        0.519869  0.035741
4               1      5    0.16000        0.697048  0.111528
...           ...    ...        ...             ...       ...
14862523   187595   1124    0.10700        0.593624  0.063518
14862524   187595   1125    0.05850        0.118908  0.006956
14862525   187595   1126    0.03800        0.097780  0.003716
14862526   187595   1127    0.10225        0.999237  0.102172
14862527   187595   1128    0.02925        0.041034  0.001200

[14862528 rows x 5 columns]

In [13]:
df_sc = genome_scores.rename(columns={"score": "total_score"})
df_sc = df_sc[['tagId','total_score']].groupby(['tagId']).mean()
df_sc[['total_score']] = scaler.fit_transform(df_sc[['total_score']])
genome_scores = pd.merge(genome_scores,df_sc,on='tagId',how='left')
genome_scores

          movieId  tagId  relevance  tag_popularity     score  total_score
0               1      1    0.02900        0.151628  0.004397     0.009139
1               1      2    0.02375        0.171612  0.004076     0.009930
2               1      3    0.05425        0.427199  0.023176     0.046839
3               1      4    0.06875        0.519869  0.035741     0.055762
4               1      5    0.16000        0.697048  0.111528     0.118661
...           ...    ...        ...             ...       ...          ...
14862523   187595   1124    0.10700        0.593624  0.063518     0.069966
14862524   187595   1125    0.05850        0.118908  0.006956     0.006455
14862525   187595   1126    0.03800        0.097780  0.003716     0.006115
14862526   187595   1127    0.10225        0.999237  0.102172     0.168793
14862527   187595   1128    0.02925        0.041034  0.001200     0.001747

[14862528 rows x 6 columns]

In [14]:
genome_scores = pd.merge(genome_scores,genome_tags,on='tagId',how='left')
genome_scores

,movieId,tagId,relevance,tag_popularity,score,total_score,tag
0,1,1,0.02900,0.151628,0.004397,0.009139,007
1,1,2,0.02375,0.171612,0.004076,0.009930,007 (series)
2,1,3,0.05425,0.427199,0.023176,0.046839,18th century
3,1,4,0.06875,0.519869,0.035741,0.055762,1920s
4,1,5,0.16000,0.697048,0.111528,0.118661,1930s
...,...,...,...,...,...,...,...
14862523,187595,1124,0.10700,0.593624,0.063518,0.069966,writing
14862524,187595,1125,0.05850,0.118908,0.006956,0.006455,wuxia
14862525,187595,1126,0.03800,0.097780,0.003716,0.006115,wwii
14862526,187595,1127,0.10225,0.999237,0.102172,0.168793,zombie
14862527,187595,1128,0.02925,0.041034,0.001200,0.001747,zombies

In [15]:
selected_tags = genome_scores[genome_scores.total_score >= 0.25]
selected_tags

,movieId,tagId,relevance,tag_popularity,score,total_score,tag
17,1,18,0.09725,0.995805,0.096842,0.322338,absurd
18,1,19,0.66825,0.955305,0.638382,0.336388,action
20,1,21,0.35725,1.000000,0.357250,0.492329,adaptation
21,1,22,0.30225,1.000000,0.302250,0.392418,adapted from:book
28,1,29,0.90700,0.997407,0.904648,0.300126,adventure
...,...,...,...,...,...,...,...
14862503,187595,1104,0.21000,0.999924,0.209984,0.563852,weird
14862507,187595,1108,0.10075,0.998551,0.100604,0.281721,whimsical
14862513,187595,1114,0.49700,0.999924,0.496962,0.329479,witty
14862515,187595,1116,0.29875,0.995576,0.297428,0.315591,women
14862522,187595,1123,0.20475,0.999847,0.204719,0.337366,writers

In [16]:
selected_tags = selected_tags[['movieId','score','tag']]

In [17]:
pd.DataFrame(selected_tags['tag'].value_counts())

                   tag
weird            13176
identity         13176
happy ending     13176
sacrifice        13176
highly quotable  13176
...                ...
very good        13176
writers          13176
tragedy          13176
special effects  13176
affectionate     13176

[202 rows x 1 columns]

In [18]:
movies_tmp = movies
scores = selected_tags['score'].tolist()
movie_id = selected_tags['movieId'].unique().tolist()
movies_list = movies['movieId'].tolist()
list_tags = selected_tags['tag'].unique().tolist()
for i in range(202):
    column = [0]*58098
    for j in range(13176):
        column[movies_list.index(movie_id[j])] = (scores[j*202+i])
    movies_tmp[list_tags[i]] = column

In [73]:
movies_tmp=movies_tmp.drop(['Unnamed: 0'], axis=1)
movies_tmp

,movieId,title,year,rating,Western,Film-Noir,IMAX,Musical,Sci-Fi,Adventure,...,visceral,visual,visually appealing,visually stunning,weapons,weird,whimsical,witty,women,writers
0,1,Toy Story,1995,3.886649,0,0,0,0,0,1,...,0.136673,0.480890,0.34225,0.525569,0.27650,0.428467,0.601877,0.711696,0.099807,0.129480
1,2,Jumanji,1995,3.246583,0,0,0,0,0,1,...,0.077824,0.411406,0.22125,0.186814,0.19225,0.389470,0.310549,0.214734,0.130918,0.130480
2,3,Grumpier Old Men,1995,3.173981,0,0,0,0,0,0,...,0.099202,0.131720,0.19550,0.118813,0.15800,0.240732,0.134305,0.217733,0.321820,0.127731
3,4,Waiting to Exhale,1995,2.874540,0,0,0,0,0,0,...,0.093437,0.133969,0.18575,0.128279,0.31650,0.220233,0.152279,0.114491,0.971931,0.159226
4,5,Father of the Bride Part II,1995,3.077291,0,0,0,0,0,0,...,0.085991,0.144217,0.16875,0.124044,0.13350,0.292978,0.169754,0.106992,0.305144,0.177223
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58093,193876,The Great Glinka,1946,3.000000,0,0,0,0,0,0,...,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
58094,193878,Les tribulations d'une caissiÃ¨re,2011,2.000000,0,0,0,0,0,0,...,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
58095,193880,Her Name Was Mumu,2016,2.000000,0,0,0,0,0,0,...,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
58096,193882,Flora,2017,2.000000,0,0,0,0,1,1,...,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
58097,193886,Leal,2018,3.250000,0,0,0,0,0,0,...,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000

In [67]:
movies_tmp.to_csv('movies_tmp.csv')

In [69]:
movies_tmp = pd.read_csv("movies_tmp.csv")

In [29]:
from sklearn.neighbors import KNeighborsClassifier

In [30]:
Y = movies_tmp[['movieId']]
X = movies_tmp.drop(['movieId','title'], axis=1)

In [31]:
X['popularity'] = X['popularity'].fillna(0)

In [32]:
X = X.values
Y = Y.values

In [74]:
def get_weights():
    list = [0.2,3]
    list = list + [10]*19
    list = list + [2]*203
    return list

In [75]:
modelKNN = KNeighborsClassifier(n_neighbors =10, weights=get_weights, algorithm='auto', p=2,metric='euclidean')
modelKNN.fit(X,Y)

C:\Users\PK\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:179: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

KNeighborsClassifier(metric='euclidean', n_neighbors=10,
                     weights=<function get_weights at 0x0000026AFD5603A0>)

In [63]:
movies_tmp[movies_tmp['title'].str.contains("Intouchables")]

,movieId,title,year,rating,Western,Film-Noir,IMAX,Musical,Sci-Fi,Adventure,...,visceral,visual,visually appealing,visually stunning,weapons,weird,whimsical,witty,women,writers
18658,92259,Intouchables,2011,4.127533,0,0,0,0,0,0,...,0.138835,0.335173,0.8055,0.542008,0.129,0.293478,0.337011,0.446716,0.14635,0.270209

In [64]:
x = movies_tmp[movies_tmp.movieId ==92259]
x = x.drop(['movieId','title'],axis=1)
x_list = x.values
x_list
print(modelKNN.kneighbors(x_list,5)[1])

[[18658 16275 18027 14907 17906]]

In [77]:
x = movies_tmp[movies_tmp.movieId ==92259]
x = x.drop(['movieId','title'],axis=1)
x_list = x.values
x_list
print(modelKNN.kneighbors(x_list,5))

(array([[3.05175781e-05, 2.52880634e+00, 2.56806427e+00, 2.91510614e+00,
        2.91646169e+00]]), array([[18658, 16275, 18027, 14907, 17906]], dtype=int64))

In [82]:
return_distance(92259,81845)

2.5288063448498117

In [83]:
def find_similar(m_id):
    x = movies_tmp[movies_tmp.movieId ==m_id]
    x = x.drop(['movieId','title'],axis=1)
    x_list = x.values
    lm = movies_tmp.iloc[modelKNN.kneighbors(x_list,10)[1][0].tolist()]
    return lm

In [84]:
find_similar(92259)

,movieId,title,year,rating,Western,Film-Noir,IMAX,Musical,Sci-Fi,Adventure,...,visceral,visual,visually appealing,visually stunning,weapons,weird,whimsical,witty,women,writers
18658,92259,Intouchables,2011,4.127533,0,0,0,0,0,0,...,0.138835,0.335173,0.80550,0.542008,0.12900,0.293478,0.337011,0.446716,0.146350,0.270209
16275,81845,"King's Speech, The",2010,3.930622,0,0,0,0,0,0,...,0.171742,0.353419,0.52100,0.548983,0.21700,0.297477,0.292575,0.612453,0.161283,0.173973
18027,89864,50/50,2011,3.735127,0,0,0,0,0,0,...,0.158772,0.137469,0.37100,0.166389,0.20175,0.524210,0.130061,0.357223,0.179453,0.389191
14907,74324,Temple Grandin,2010,3.895890,0,0,0,0,0,0,...,0.208973,0.443648,0.53475,0.718111,0.23350,0.634202,0.243397,0.351473,0.422124,0.489675
17906,89356,Chinese Take-Out (Chinese Take-Away) (Un cuent...,2011,3.746479,0,0,0,0,0,0,...,0.101844,0.172960,0.51625,0.382345,0.21525,0.467714,0.528233,0.256730,0.083380,0.320701
18007,89774,Warrior,2011,3.909720,0,0,0,0,0,0,...,0.663430,0.286434,0.56575,0.342990,0.32375,0.288728,0.121823,0.182986,0.117727,0.189221
17950,89554,Zindagi Na Milegi Dobara,2011,3.944853,0,0,0,0,0,1,...,0.095359,0.360917,0.61175,0.547488,0.31075,0.226983,0.134305,0.358723,0.113247,0.316702
17775,88810,"Help, The",2011,3.910428,0,0,0,0,0,0,...,0.084070,0.113224,0.69100,0.262535,0.17050,0.244481,0.245893,0.421468,0.876356,0.663649
18036,89904,The Artist,2011,3.747672,0,0,0,0,0,0,...,0.220743,0.792569,0.97100,0.627195,0.17500,0.619203,0.499026,0.506461,0.145852,0.186472
17935,89492,Moneyball,2011,3.860813,0,0,0,0,0,0,...,0.140997,0.251942,0.52975,0.252074,0.23775,0.317976,0.140546,0.530959,0.123451,0.264460

In [80]:
x_list[0]

array([2.01100000e+03, 4.12753260e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 1.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 1.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 1.38492622e-01, 2.81314926e-01, 2.36199089e-01,
       3.43250000e-01, 4.44250000e-01, 2.80271299e-01, 6.44229311e-01,
       2.12114255e-01, 1.27080600e-01, 7.05779708e-01, 3.81750000e-01,
       2.81285295e-01, 1.59250000e-01, 2.93468462e-01, 5.39508295e-01,
       5.79869270e-01, 7.76088704e-01, 2.72979178e-01, 5.31887499e-01,
       6.53751220e-01, 2.19823965e-01, 4.96736748e-01, 3.51250000e-01,
       5.36750000e-01, 4.13140569e-01, 2.75852643e-01, 5.19048128e-01,
       5.81750000e-01, 3.65750000e-01, 6.43250000e-01, 4.73857982e-01,
       1.80722428e-01, 5.28046106e-01, 6.25154622e-01, 2.22977557e-01,
       4.01250000e-01, 2.20000000e-01, 1.92702502e-01, 1.87750000e-01,
       7.75750000e-01, 2.19662040e-01, 7.58384296e-01, 4.22750000e-01,
       9.26395012e-02, 2.30213561e-01, 9.41250000e-01, 8.92736710e-01,
       1.51500000e-01, 4.38369594e-01, 1.12250000e-01, 9.08322821e-01,
       3.01316032e-01, 5.74600622e-01, 2.98000000e-01, 6.28038365e-01,
       8.28123656e-01, 6.24750000e-01, 5.71369232e-01, 2.22754939e-01,
       2.24750000e-01, 9.72351651e-01, 9.65479426e-01, 5.17210548e-01,
       1.99000000e-01, 9.66643486e-01, 2.75256521e-01, 3.16080314e-01,
       2.94000000e-01, 1.38623370e-01, 3.49054000e-01, 8.13500000e-01,
       7.79469529e-01, 1.58299825e-01, 8.60250000e-01, 6.30500000e-01,
       9.42428114e-01, 8.22250000e-01, 6.46493021e-01, 5.27000000e-01,
       2.12951262e-01, 1.91235413e-01, 3.29892952e-01, 5.66750000e-01,
       5.89955000e-01, 5.65904565e-01, 8.48255720e-01, 4.59526161e-01,
       6.73171383e-01, 5.08650160e-01, 3.57254786e-01, 9.56250000e-01,
       3.30596522e-01, 1.67132942e-01, 8.57500000e-01, 5.93502403e-01,
       7.79868202e-01, 3.46096789e-01, 6.37500000e-01, 5.42500000e-01,
       7.92750000e-01, 5.19161258e-01, 1.54500000e-01, 7.45252078e-01,
       6.47422470e-01, 1.83342117e-01, 2.12948269e-01, 7.38429201e-01,
       8.70433605e-01, 2.91135478e-01, 9.19000000e-01, 3.23847342e-01,
       7.05325528e-01, 2.53767523e-01, 1.69859355e-01, 5.42755606e-01,
       1.70986958e-01, 1.70865838e-01, 4.06800053e-01, 2.85500000e-01,
       3.90921745e-01, 1.50316337e-01, 2.03452216e-01, 1.69540844e-01,
       8.31500000e-01, 4.78208031e-01, 6.98682576e-01, 5.02008428e-01,
       7.97506617e-01, 4.16404698e-01, 7.48250000e-01, 1.74250000e-01,
       5.54000000e-01, 7.07601766e-01, 5.59369003e-01, 9.36427427e-02,
       2.91455534e-01, 1.66987263e-01, 6.86198173e-01, 2.87684158e-01,
       4.17962417e-01, 3.25977042e-01, 7.37500000e-02, 9.87500000e-02,
       2.79250000e-01, 6.28500000e-01, 6.16981924e-01, 6.25054344e-01,
       3.93879796e-01, 2.62750000e-01, 4.93529288e-01, 5.34250000e-01,
       5.76874533e-01, 1.17741019e-01, 1.09250000e-01, 1.40114217e-01,
       2.42312543e-01, 1.05475860e-01, 1.34116887e-01, 2.01689879e-01,
       1.16703055e-01, 1.47500000e-01, 1.41500000e-01, 7.09795687e-01,
       5.73171860e-01, 1.56881474e-01, 9.03415071e-02, 5.47935741e-01,
       7.08750000e-01, 9.01500000e-01, 8.85372969e-02, 2.46981161e-01,
       5.39294257e-01, 1.10724659e-01, 4.85009229e-01, 5.63870948e-01,
       8.59540844e-02, 8.63364351e-02, 6.93500000e-01, 9.59279460e-01,
       5.22273091e-01, 5.21000000e-01, 3.46967813e-01, 5.55250000e-01,
       2.88426665e-01, 2.83500000e-01, 9.80100469e-01, 5.55580448e-01,
       3.68250000e-01, 8.39750000e-01, 4.56626154e-01, 3.72157120e-01,
       2.07230875e-01, 1.96271356e-01, 1.38835062e-01, 3.35173290e-01,
       8.05500000e-01, 5.42008390e-01, 1.29000000e-01, 2.93477614e-01,
       3.37010907e-01, 4.46715926e-01, 1.46349706e-01, 2.70208775e-01])

In [78]:
from scipy.spatial import distance

In [81]:
def return_distance(m_id1, m_id2):
    x = movies_tmp[movies_tmp.movieId ==m_id1]
    x = x.drop(['movieId','title'],axis=1)
    x_list = x.values
    y = movies_tmp[movies_tmp.movieId ==m_id2]
    y = y.drop(['movieId','title'],axis=1)
    y_list = y.values
    return distance.euclidean(x, y)

In [ ]:
return_distance(m_id1, m_id2)

In [30]:
modelKNN.kneighbors(x_list,5)[1][0].tolist()

[11076, 10501, 12199, 11570, 10164]

In [65]:
lm = movies_tmp.iloc[modelKNN.kneighbors(x_list,10)[1][0].tolist()]
lm

,movieId,title,year,rating,Western,Film-Noir,IMAX,Musical,Sci-Fi,Adventure,...,visceral,visual,visually appealing,visually stunning,weapons,weird,whimsical,witty,women,writers
18658,92259,Intouchables,2011,4.127533,0,0,0,0,0,0,...,0.138835,0.335173,0.80550,0.542008,0.12900,0.293478,0.337011,0.446716,0.146350,0.270209
16275,81845,"King's Speech, The",2010,3.930622,0,0,0,0,0,0,...,0.171742,0.353419,0.52100,0.548983,0.21700,0.297477,0.292575,0.612453,0.161283,0.173973
18027,89864,50/50,2011,3.735127,0,0,0,0,0,0,...,0.158772,0.137469,0.37100,0.166389,0.20175,0.524210,0.130061,0.357223,0.179453,0.389191
14907,74324,Temple Grandin,2010,3.895890,0,0,0,0,0,0,...,0.208973,0.443648,0.53475,0.718111,0.23350,0.634202,0.243397,0.351473,0.422124,0.489675
17906,89356,Chinese Take-Out (Chinese Take-Away) (Un cuent...,2011,3.746479,0,0,0,0,0,0,...,0.101844,0.172960,0.51625,0.382345,0.21525,0.467714,0.528233,0.256730,0.083380,0.320701
18007,89774,Warrior,2011,3.909720,0,0,0,0,0,0,...,0.663430,0.286434,0.56575,0.342990,0.32375,0.288728,0.121823,0.182986,0.117727,0.189221
17950,89554,Zindagi Na Milegi Dobara,2011,3.944853,0,0,0,0,0,1,...,0.095359,0.360917,0.61175,0.547488,0.31075,0.226983,0.134305,0.358723,0.113247,0.316702
17775,88810,"Help, The",2011,3.910428,0,0,0,0,0,0,...,0.084070,0.113224,0.69100,0.262535,0.17050,0.244481,0.245893,0.421468,0.876356,0.663649
18036,89904,The Artist,2011,3.747672,0,0,0,0,0,0,...,0.220743,0.792569,0.97100,0.627195,0.17500,0.619203,0.499026,0.506461,0.145852,0.186472
17935,89492,Moneyball,2011,3.860813,0,0,0,0,0,0,...,0.140997,0.251942,0.52975,0.252074,0.23775,0.317976,0.140546,0.530959,0.123451,0.264460

In [73]:
X_ = [[0,0], [1,2], [2,5], [3,2]]
y_ = [0, 0, 1, 1]
neigh = KNeighborsClassifier(n_neighbors=3)
neigh.fit(X_, y_)
print(neigh.predict([[1.1,8.9]]))
print(neigh.predict([[0.9,0]]))

[1]
[0]

In [3]:
print(f"Number of ratings: {n_ratings}")
print(f"Number of unique movieId's: {n_movies}")
print(f"Number of unique users: {n_users}")
print(f"Average ratings per user: {round(n_ratings/n_users, 2)}")
print(f"Average ratings per movie: {round(n_ratings/n_movies, 2)}")

Number of ratings: 27753444
Number of unique movieId's: 53889
Number of unique users: 283228
Average ratings per user: 97.99
Average ratings per movie: 515.01

In [4]:
user_freq = ratings[['userId', 'movieId']].groupby('userId').count().reset_index()
user_freq.columns = ['userId', 'n_ratings']
user_freq.head()

   userId  n_ratings
0       1         16
1       2         15
2       3         11
3       4        736
4       5         72

In [5]:
mean_rating = ratings.groupby('movieId')[['rating']].mean()
# Lowest rated movies
lowest_rated = mean_rating['rating'].idxmin()
movies.loc[movies['movieId'] == lowest_rated]
# Highest rated movies
highest_rated = mean_rating['rating'].idxmax()
movies.loc[movies['movieId'] == highest_rated]
# show number of people who rated movies rated movie highest
ratings[ratings['movieId']==highest_rated]
# show number of people who rated movies rated movie lowest
ratings[ratings['movieId']==lowest_rated]
  
## the above movies has very low dataset. We will use bayesian average
movie_stats = ratings.groupby('movieId')[['rating']].agg(['count', 'mean'])
movie_stats.columns = movie_stats.columns.droplevel()

In [6]:
from scipy.sparse import csr_matrix
  
def create_matrix(df):
      
    N = len(df['userId'].unique())
    M = len(df['movieId'].unique())
      
    # Map Ids to indices
    user_mapper = dict(zip(np.unique(df["userId"]), list(range(N))))
    movie_mapper = dict(zip(np.unique(df["movieId"]), list(range(M))))
      
    # Map indices to IDs
    user_inv_mapper = dict(zip(list(range(N)), np.unique(df["userId"])))
    movie_inv_mapper = dict(zip(list(range(M)), np.unique(df["movieId"])))
      
    user_index = [user_mapper[i] for i in df['userId']]
    movie_index = [movie_mapper[i] for i in df['movieId']]
  
    X = csr_matrix((df["rating"], (movie_index, user_index)), shape=(M, N))
      
    return X, user_mapper, movie_mapper, user_inv_mapper, movie_inv_mapper

In [7]:
X, user_mapper, movie_mapper, user_inv_mapper, movie_inv_mapper = create_matrix(ratings)

In [8]:


def find_similar_movies(movie_id, X, k, metric='cosine', show_distance=False):
      
    neighbour_ids = []
      
    movie_ind = movie_mapper[movie_id]
    movie_vec = X[movie_ind]
    k+=1
    kNN = NearestNeighbors(n_neighbors=k, algorithm="brute", metric=metric)
    kNN.fit(X)
    neighbour = kNN.kneighbors(movie_vec, return_distance=show_distance)
    for i in range(0,k):
        n = neighbour.item(i)
        neighbour_ids.append(movie_inv_mapper[n])
    neighbour_ids.pop(0)
    return neighbour_ids

In [9]:
movie_titles = dict(zip(movies['movieId'], movies['title']))

In [10]:
movie_id = 145
similar_ids = find_similar_movies(movie_id, X, k=10)
movie_title = movie_titles[movie_id]
print(f"Since you watched {movie_title}\n")
for i in similar_ids:
    print(movie_titles[i])

Since you watched Bad Boys

Demolition Man
Bad Boys II
Desperado
Die Hard: With a Vengeance
Crow, The
Speed
Die Hard 2
Con Air
Last Action Hero
Mortal Kombat

In [11]:
movie_id = 1
similar_ids = find_similar_movies(movie_id, X, k=10)
movie_title = movie_titles[movie_id]
print(f"Since you watched {movie_title}\n")
for i in similar_ids:
    print(movie_titles[i])

Since you watched Toy Story

Star Wars: Episode IV - A New Hope
Independence Day (a.k.a. ID4)
Toy Story 2
Back to the Future
Jurassic Park
Forrest Gump
Lion King, The
Mission: Impossible
Star Wars: Episode VI - Return of the Jedi
Aladdin

In [27]:
movie_id = 587
similar_ids = find_similar_movies(movie_id, X, k=10)
movie_title = movie_titles[movie_id]
print(f"Since you watched {movie_title}\n")
for i in similar_ids:
    print(movie_titles[i])

Since you watched Ghost

Pretty Woman
Sleepless in Seattle
Mrs. Doubtfire
Speed
Firm, The
Home Alone
Four Weddings and a Funeral
Mask, The
Fugitive, The
Jurassic Park

In [21]:
movie_id = 45720
similar_ids = find_similar_movies(movie_id, X, k=10)
movie_title = movie_titles[movie_id]
print(f"Since you watched {movie_title}\n")
for i in similar_ids:
    print(movie_titles[i])

Since you watched Devil Wears Prada, The

Mean Girls
Holiday, The
Proposal, The
Hitch
Notebook, The
Mr. & Mrs. Smith
How to Lose a Guy in 10 Days
Love Actually
Legally Blonde
Easy A

In [26]:
movies[movies.title.str.contains('ghost',case=False)]

,movieId,title,year,rating,Western,Film-Noir,IMAX,Musical,Sci-Fi,Adventure,...,Action,War,Mystery,Animation,Comedy,Crime,Fantasy,Drama,Horror,Thriller
581,587,Ghost,1990,3.444582,0,0,0,0,0,0,...,0,0,0,0,1,0,1,1,0,1
728,741,Ghost in the Shell (KÃ´kaku kidÃ´tai),1995,3.964608,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
926,943,"Ghost and Mrs. Muir, The",1947,3.804610,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
1029,1049,"Ghost and the Darkness, The",1996,3.405912,0,0,0,0,0,1,...,1,0,0,0,0,0,0,0,0,0
1370,1401,Ghosts of Mississippi,1996,3.529543,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55736,187955,Holy Ghost Reborn,2015,4.500000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
56100,188763,Chasing Ghosts,2005,3.156250,0,0,0,0,0,0,...,0,0,1,0,0,1,0,0,0,1
57192,191509,Ghost of Chibusa Enoki,1958,3.156250,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
57721,192953,Ghost in the Shell: Stand Alone Complex - Indi...,2006,4.000000,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
57849,193297,Scooby-Doo! and the Gourmet Ghost,2018,3.250000,0,0,0,0,0,1,...,0,0,0,1,0,1,0,0,0,0